* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(
    to bottom right,
    rgb(204, 0, 255),
    rgb(3, 112, 255)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  margin: auto;
  background-color: #ddd;
  padding: 2.6rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#cdn {
  display: none;
}

#file-label {
  border: none;
  background-color: rgba(87,66,255,255);
  color: #fff;
  font-size: 0.8rem;
  border-radius: 20px;
  padding: 0.4rem;
  margin: 0 auto;
}
input[type="file"] {
  display: none;
}

#uploadForm,
#LinksForm,
#loginForm {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

#uploadForm h2,
#LinksForm h2,
#loginForm h1 {
  margin-bottom: 0.4rem;
}

button {
  border: none;
  background-color: #8627ff;
  color: #fff;
  border-radius: 9px;
  padding: 0.6rem;
}
